@(message: String)

@main("Welcome to Play") {
<!DOCTYPE html>
<html ng-app="root">
    <body>
	<div ng-controller="index" class="container-fluid">
	    <div class="row">
	        <div class="col-md-12">
	            <h3><a href="#1">ATS Program</a></h3>
	        </div>
	    </div>
        <div class="row top5">
            <div class="col-md-3">
                <div class="btn-group" dropdown>
		        <button type="button" class="btn btn-info">Select ATS Example</button>
		        <button type="button" class="btn btn-info dropdown-toggle" dropdown-toggle>
		        <span class="caret"></span>
		        <span class="sr-only">Split button!</span>
		        </button>
		        <ul class="dropdown-menu" role="menu">
		            <li ng-repeat="atsexp in atsexps">
		            <a href="#" ng-click="selectATSExample($index)">{{atsexps[$index]}}</a>
		            </li>
		        </ul>
		        </div>
		    </div>        
            <div class="col-md-2">
                <button type="button" class="btn btn-info" ng-click="selectATS()">Select local ATS file</button>
                <button type="button" class="btn btn-info" style="visibility:hidden; width: 0; height: 0;" ng-click="updateATSFile()" id=update_ats_file></button>
                <input type="file" id="atsfile">
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"><p class="text-nowrap">{{ats_file}}</p></div>
        </div>
        <div class="row top5">
            <div class="col-md-12">
		        <div class="myeditor" id="atseditor"></div>
		    </div>
		</div>
		<div class="row top5">
		    <div class="col-md-12">
		        <button type="button" class="btn btn-info" ng-click="typeCheck()">Type Check ATS Program.</button>
		    </div>
		</div>
		<div class="row top5">
		    <div class="col-md-12">
		        <pre>{{typecheckres}}</pre>
		    </div>
		</div>
		<div class="row top17">
		    <div class="col-md-12">
    	        <h3><a href="#2">CSP# Model</a></h3>
    	    </div>
    	</div>
    	<div class= "row top5">
    	    <div class="col-md-1">
                <button type="button" class="btn btn-info" ng-click="genModel()">Generate model.</button>
            </div>
    	</div>
    	<div class="row top5">
    	    <div class="col-md-12">
        	    <div class="myeditor" id="cspseditor"></div>
        	</div>
    	</div>
    	
    	<div class="row top17">
            <div class="col-md-12">
                <h3><a href="#3">PAT Model Checker</a></h3>
            </div>
        </div>
        <div class= "row top5">
            <div class="col-md-2">
            <input type="radio" ng-model="engine" value="0">Depth First Search<br/>
            <input type="radio" ng-model="engine" value="1">Breadth First Search<br/>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-info" ng-click="modelCheck()" ng-disabled="isModelChecking">Verify model.</button>
            </div>
        </div>
        <div class="row top5">
            <div class="col-md-12">
                <pre>{{modelcheckmsg}}</pre>
            </div>
        </div>
        <div class="row top5" ng-if="hasRes">
            <div class="col-md-12">
                <p>The model checking result goes as follows:</p>
                <pre>{{modelcheckres}}</pre>
            </div>
        </div>        
	</div>
    </body>
</html>


}




